.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skeleton {
    width: 100px;
    height: 18px;
    border-radius: 20px;
    animation: skeleton-loading .5s linear infinite alternate;
  }
  .skeleton:nth-child(2){
    width: 60px;

  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(0, 0%, 62%);
    }
  }
